<html>
    <header>
        <title>
            Weather App! 
        </title>
    </header>
    <body>
        <link rel="stylesheet" href="/style.css">
        <h1 >Welcome to the Weather App!!</h1>
        <form>
            <input type="text" placeholder="Enter location.." name="location">
            <button type="submit">Submit</button>
        </form>
        <p id="forecast"></p>
        <p id="location"></p>
        <p id="address"></p>
    </body>
    <script src="/help.js"></script>
</html>